@charset "utf-8";

/* 右側（メイン画面）*/
#timer{
	display:flex;
	position:fixed;
	justify-content:center;
	align-items:center;
	width: 270px;
	height: 60px;
	top: 965px;
	left: 1430px;
	font-size: 94px;
}

#text_gameEstimate:before {content: 'EST: ';} 
#ScreenA #text_gameEstimate{
	font-family:'Noto Sans JP';
	font-size: 55px;
	color:White;
	display:flex;
	position:fixed;
	justify-content:left;
	align-items:center;
	top: 995px;
	left: 1150px;
}
#ScreenA #text_gameTitle{
	font-family:'Noto Sans JP';
	font-size: 60px;
	color:White;
	display:flex;
	position:fixed;
	justify-content:left;
	align-items:center;
	top: 780px;
	left: 1150px;
}
#text_gameCategory:before {content: 'Category: ';} 
#ScreenA #text_gameCategory{
	font-family:'Noto Sans JP';
	font-size: 45px;
	color:White;
	display:flex;
	position:fixed;
	justify-content:left;
	align-items:center;
	top: 855px;
	left: 1150px;
}


/* 画面左側（非可動部分） */
#Player_name:before {content: 'Player: ';} 
#ScreenA #Player_name{
	font-family:'Noto Sans JP';
	font-size: 55px;
	color:white;
	display:flex;
	position:fixed;
	justify-content:left;
	align-items:center;
	width: 500px;
	height: 72px;
	top: 925px;
	left: 1150px;
}

