@charset "utf-8";

/* 右側（メイン画面）*/
#timer{
	display:flex;
	position:fixed;
	justify-content:center;
	align-items:center;
	width: 270px;
	height: 60px;
	top: 965px;
	left: 1430px;
	font-size: 94px;
}
#ScreenA #text_gameEstimateA{
	font-family:'Noto Sans JP';
	font-size: 30px;
	color:black;
	display:flex;
	position:fixed;
	justify-content:left;
	align-items:center;
	top: 995px;
	left: 700px;
}
#ScreenA #text_gameTitleA{
	font-family:'Noto Sans JP';
	font-size: 55px;
	color:black;
	display:flex;
	position:fixed;
	justify-content:left;
	align-items:center;
	top: 920px;
	left: 250px;
}
#ScreenA #text_gameCategoryA{
	font-family:'Noto Sans JP';
	font-size: 30px;
	color:black;
	display:flex;
	position:fixed;
	justify-content:left;
	align-items:center;
	top: 995px;
	left: 270px;
}


/* 画面左側（非可動部分） */

#ScreenA #PlayerA_name{
	font-family:'Noto Sans JP';
	font-size: 60px;
	color:white;
	display:flex;
	position:fixed;
	justify-content:left;
	align-items:center;
	width: 500px;
	height: 72px;
	top: 680px;
	left: 115px;
}
#ScreenA #CommA_Name{
	font-family:'Noto Sans JP';
	color:white;
	display:flex;
	position:fixed;
	justify-content:left;
	align-items:center;
	font-size: 40px;
	top: 823px;
	left: 115px;
}

/* ブリンクするやつ */
/* PlayerA */
#ScreenA #Twitter_iconA{
	position:fixed;
	color:white;
	top: 750px;
	left: 270px;
	font-size: 24px;
}

#ScreenA #Twitch_iconA{
	position:fixed;
	top: 536px;
	left: 70px;
}

#ScreenA #niconico_iconA{
	position:fixed;
	top:468px;
	left: 59px;
	width: 60px;
	height: 60px;
}

#ScreenA #Youtube_iconA{
	position:fixed;
	top:531px;
	left: 65px;
	width: 48px;
	height: 48px;
}

#ScreenA #PlayerA_twitter{
	color:white;
	display:flex;
	position:fixed;
	justify-content:left;
	align-items:center;
	font-size: 24px;
	top: 750px;
	left: 300px;
}
#ScreenA #PlayerA_niconico{
	display:flex;
	position:fixed;
	justify-content:left;
	align-items:center;
	font-size: 1em;
	width: 170px;
	height: 36px;
	top: 481px;
	left: 120px;
}
#ScreenA #PlayerA_twitch{
	display:flex;
	position:fixed;
	justify-content:left;
	align-items:center;
	font-size: 1em;
	width: 170px;
	height: 36px;
	top: 536px;
	left: 120px;
}
#ScreenA #PlayerA_youtube{
	display:flex;
	position:fixed;
	justify-content:left;
	align-items:center;
	font-size: 1em;
	width: 170px;
	height: 36px;
	top: 536px;
	left: 120px;
}